* {
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
}

body {
  display: grid;
  grid-template-rows: 10% 1fr 30%;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Markazi Text';
}

body, p, nav, ul, li, a {
  font-family: 'Karla';
}

img { border-radius: 16px; }

a {
  text-decoration: none;
  font-weight: bold;
  color: #333333;
}

main {
  grid-area: main;
}


thead {
  font-weight: bold;
}

/*---------------------Navigation Bar---------------------*/
header {
  grid-area: header;
  background-color: #EDEFEE;
  width: 100vw;
}

.navLogoDiv {
  align-content: center;
}

nav {
  display: flex;
}

.navLogo {
  padding-left: 2vw;
  padding-top: 2%;
}

.navLinks {
  margin-left: auto;
  margin-right: 0;
  padding-right: 2%;
  display: flex;
  align-items: center;
}

.navLinks>ul {
  display: flex;
  list-style-type: none;
}

.navLinks>ul>li {
  margin: 10px;
}

/*---------------------Footer---------------------*/
footer {
  display: block;
  background-color: #EDEFEE;
  width: 100vw;

}

.footerlogoDiv {
  grid-area: footerLogo;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 3vh 0%;
}

.footerLogo {
  width: 10%;
  height: auto;
}

.footerContentDiv {
  grid-area: footerContent;
  width: 100vw;
  display: flex;
  padding-bottom: 5vh;
  justify-content: center;
  align-content: center;
  margin: 0px;
}

.footerContentDiv>section {
  padding: 2.5%;
}

/*---------------------main--------------------*/

main {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "intro"
    "specials"
    "testimonial"
    "about";
}

.intro {
  grid-area: intro;
  width: 100vw;
  background: linear-gradient(180deg, #495E57 70%, rgb(255, 255, 255) 50%);
  display: grid;
  gap: 4vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: " iContent iImage";
}

.introContent {
  grid-area: iContent;
  padding-left: 20vw;
  color: white;
}

.introContent>h1 {
  color: #f4ce14;
  margin: 0px;
  padding: 0px;
  padding-top: 0px;
  padding-top: 5vh;
}

.introPara {
  font-weight: normal;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.introImage {
  grid-area: iImage;
}

.introImg {
  width: 28vw;
  margin-top: 5vh;
  border-radius: 16px;
}

/*---------------------Specials---------------------*/

.specials {
  grid-area: specials;
  width: 100vw;
  margin: 3vh 0vw;
}

.specialsHead {
  display: flex;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 2vh;
  width: 60vw;
  justify-content: space-between;
  align-items: center;
}

.specialsContent {
  display: flex;
  margin-left: 20vw;
  margin-right: 20vw;
}

.specialsItems {
  width: 20vw;
  border-radius: 16px;
  background-color: #EDEFEE;
  margin: 4vh 1vw;
  display: grid;
  grid-template-rows: 45% 15% 30% 10%;
  grid-template-areas:
    "specialsImage"
    "specialsHead"
    "specialsDescription"
    "orderLink";
  height: 30vw;
  box-shadow: 0px 10px 16px 0px #495e5773;

}

.specialsImg {
  grid-area: specialsImage;
  width: 100%;
  border-radius: 16px 16px 0% 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.itemHead {
  grid-area: specialsHead;
  display: flex;
  justify-content: space-between;
  padding: 1vh 1vw;
}

.specialsDescription {
  grid-area: specialsDescription;
  padding: 0vh 1vw;
  display: flex;
  align-items: center;
}

.itemDescription {
  font-weight: normal;
}

.itemHead>h3 {
  margin: 0px;
  padding: 0px;
}

.itemPrice {
  color: #EE9972;
  margin: 0px;
  padding: 0px;
}

.itemLink {
  grid-area: orderLink;
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0vh 1vw;
}

.itemLink:hover {
  text-decoration: underline;
  color: #495e57;
}

.material-symbols-outlined {
  margin: 0vh 0vw 0vh 0.5vw;
}

/*---------------------Testimonials---------------------*/

.testimonial {
  grid-area: testimonial;
  align-content: center;
  background-color: #495E57;
  padding: 0vh 20vw 0vh 20vw;
  color: #EDEFEEDE;
}

.testimonialContent {
  display: flex;
  margin: 2vh 0vw;
}

.testimonialItem {
  width: 17vw;
  background-color: #333333;
  padding: 1rem 1vw;
  margin: 0vh 1vw 0vh 0vh;
  border-radius: 16px;
}

.testimonialHead {
  display: flex;
  justify-content: space-between;
}

.customerInfo {
  display: flex;
  justify-content: revert-layer;
  align-items: center;
  padding-bottom: 1vh;
}

.customerImage {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  margin: 0vh 1vw 0vh 0vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.customerRating {
  display: flex;
  align-items: center;
  height: fit-content;
  color: #F4CE14;
}

.customerName {
  color: #EDEFEE;
}

.customerTestimonial {
  font-style: italic;
  font-weight: normal;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

/*--------------------- About ---------------------*/

.about {
  grid-area: about;
  padding-left: 20vw;
  padding-right: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.about>h2 {}

.aboutContent {

  display: flex;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "aboutContent aboutImgs";
}

.aboutContent>h6 {
  grid-area: aboutContent;
  padding-top: 2.5vh;
  font-weight: normal;
  padding-right: 1vw;
}

.aboutImageDiv {
  grid-area: aboutImgs;
}

.aboutImageDiv>img {
  width: 30vw;
  height: auto;
  position: absolute;
  border-radius: 16px;
}

.aboutImgOne {
  animation-name: transalateImageOne;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.aboutImgTwo {
  /* display : flex; */
  margin: 5vh 0vw 0vh 5vw;
  animation-name: transalateImageTwo;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes transalateImageOne {
  30% {
    margin: 0vh 0vw 0vh 0vw;
    z-index: 0;
  }

  40% {
    margin: 0vh 0vw 0vh 0vw;
    z-index: 0;
  }

  41% {
    margin: 0vh 0vw 0vh 0vw;
    z-index: 1;
  }

  50% {
    margin: 5vh 0vw 0vh 5vw;
    z-index: 1;
  }

  80% {
    margin: 5vh 0vw 0vh 5vw;
    z-index: 1;
  }

  90% {
    margin: 15vh 0vw 0vh 5vw;
    z-index: 1;
  }

  91% {
    margin: 15vh 0vw 0vh 5vw;
    z-index: 0;
  }

  100% {
    margin: 0vh 0vw 0vh 0vw;
    z-index: 0;
  }
}

@keyframes transalateImageTwo {
  30% {
    margin: 5vh 0vw 0vh 5vw;
    z-index: 1;
  }

  40% {
    margin: 15vh 0vw 0vh 5vw;
    z-index: 1;
  }

  41% {
    margin: 15vh 0vw 0vh 5vw;
    z-index: 0;
  }

  50% {
    margin: 0vh 0vw 0vh 0vw;
    z-index: 0;
  }

  80% {
    margin: 0vh 0vw 0vh 0vw;
    z-index: 0;
  }

  90% {
    margin: 0vh 0vw 0vh 0vw;
    z-index: 0;
  }

  91% {
    margin: 0vh 0vw 0vh 0vw;
    z-index: 1;
  }

  100% {
    margin: 5vh 0vw 0vh 5vw;
    z-index: 1;
  }

}

@keyframes transalateImageOneSm {
  0% { margin-left: 0vw; }
  50% { margin-left: 100vw; }
  100% { margin-left: 0vw; }
}

@keyframes transalateImageTwoSm {
  0% { margin-left: 100vw; }
  50% { margin-left: 0vw; }
  100% { margin-left: 100vw; }

}

/*---------------------Objects---------------------*/

.styledButton {
  background-color: #f4ce14;
  border: none;
  border-radius: 16px;
  font-weight: bold;
  padding: 0.56rem;
  height: fit-content;

}

.styledButton:hover {
  box-shadow: inset 0px 0px 8px #bd9d03;
}

/* ---------------------Font Sizing--------------------- */

body { font-size: 1vw; }
h1 { font-size: 5.5em; }
h2 { font-size: 5em; }
h3 { font-size: 4.5em; }
h4 { font-size: 4em; }
h5 { font-size: 2.5em; }
h6, td, a { font-size: 2em; }
p { font-size: 1.0em; }
.material-symbols-outlined { font-size: 1em; }

td>a {
  font-size: 1em;
  font-weight: normal;
}

/*-----------------------------------------------------*/
/*---------------------small screen--------------------*/
/*-----------------------------------------------------*/

@media only screen and (max-width: 700px) {

  body {
    font-size: 1vh;
  }

  /*---------------------Navigation Bar---------------------*/

  header {
    height: 10vh;
  }

  nav {
    height: 100%;
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-areas:
      "navLogo"
      "navLinks";
  }

  .navLogoDiv {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-content: center;
  }

  .navLogo {
    grid-area: navLogo;
    padding: 1vh 0vw;
    align-content: center;
  }

  .navLinks {
    grid-area: navLinks;
    padding: 1vh 0vw;
    display: flex;
    align-items: center;
    width: 100vw;
  }

  .navLinks>ul {
    display: flex;
    list-style-type: none;
  }

  .navLinks>ul {
    display: flex;
    list-style-type: none;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    justify-content: center;
  }

  .navLinks>ul>li {
    margin: 1vw;
  }

  /*---------------------Footer---------------------*/

  .intro {
    grid-area: intro;
    width: 80vw;
    height: 90vh;
    padding: 0vh 10vw;
    /* display: grid;
    grid-gap: 0px;
    grid-template-rows: 10% 5% 10% 5% 60% ;
    grid-template-columns:50% 50%;
    grid-template-areas:
      "introHeading "
      "introSubHeading "
      "introPara "
      "introButton"
      "iImage "; */
    display: flex;
    flex-direction: column;
  }

  .introContent>h1 {
    grid-area: introHeading;
    margin: 0px;
    padding: 2vh 0vw 0vh 0vw;
  }

  .introSubHeading {
    grid-area: introSubHeading;
  }

  .introPara {
    grid-area: introPara;
    margin: 1vh 0vw 1vh 8vw;
    font-size: 2em;
  }

  .introButtonDiv {
    grid-area: introButton;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .introContent {
    grid-area: revert;
    margin: 0px;
    padding: 0px;
    width: 80vw;
  }

  .introImage {
    height: 70vh;
    width: auto;
  }

  .introImg {
    width: 100%;
    
    margin-top: 0px;
  }

  .specials { align-content: center; }

  .specialsHead {
    display: flex;
    padding: 2vh 10vw;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
  }

  .specialsHead>h2 {
    font-size: 3.0em;
  }

  .specialsContent {
    flex-direction: column;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .specialsItems {
    width: 100%;
    margin: 1vh 1vw;
    height: 25vw;

    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 40% 60%;
    grid-template-areas:
      "specialsImage specialsHead       "
      "specialsImage specialsDescription"
      "specialsImage orderLink          ";
  }

  .specialsImg {
    border-radius: 16px 0px 0px 16px;
  }

  .specialsDescription {
    font-size: 1.2em;
    margin: 0vh 2vw;
  }

  .itemHead { margin: 0vh 1vw 1vh 1vw; }
  
  .itemLink {
    justify-content: end;
    padding: 0vh 4vw;
  }

  .testimonial {
    padding: 0vh 10vw 0vh 10vw;
  }

  .testimonialContent {
    flex-direction: column;
  }

  .testimonialItem {
    width: 100%;
    margin: 1vh 1vw 0vh 0vh;
  }

  .testimonialHead { padding: 0vh 2vw;}

  .customerImage {
    width: 10vw;
    height: 10vw;
  }

  .about {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .aboutContent {
    /* display: flex; */
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    grid-template-areas:
  "aboutContent" 
  "aboutImgs   ";
  }

  .aboutImageDiv {
    width: 80vw;
    height: 30vh;
  }

  .aboutImageDiv > img {
    width: 80vw;
  }

  .aboutImgOne {
    animation-name: transalateImageOneSm;
    animation-duration: 20s;
    animation-iteration-count: infinite;
  }

  .aboutImgTwo {
    margin: 0vh 0vw 0vh 0vw;
    animation-name: transalateImageTwoSm;
    animation-duration: 20s;
    animation-iteration-count: infinite;
  }
 

}

